@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--blog {
    .info {
        padding-top: 32px;
        @include media('mobile') {
            padding-top: 24px;
        }

        &__title {
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 24px;
            }
        }

        &__cards {
            padding-top: 40px;
            display: grid;
            gap: 32px 20px;
            grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
            @include media('mobile') {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding-top: 24px;
            }
        }

        &__pagination {
            padding-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 24px;
                padding-top: 40px;
            }

            &-btn {
                font: 500 16px / 100% var(--ff-nort);
                letter-spacing: 1px;
                text-transform: uppercase;
                display: inline-flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 2px solid transparent;
                @include transitions(0.2s, ease-in);
                @include media('mobile') {
                    font-size: 14px;
                    width: 32px;
                    height: 32px;
                }

                &.is-active {
                    border-color: var(--ball-blue);
                }
            }
        }
    }
}
