@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--error {
    .info {
        overflow: hidden;
        max-width: 2400px;
        margin: 0 auto var(--section-mb);
        padding-top: 80px;
        @include media('mobile') {
            padding-top: 36px;
        }

        &__thumb {
            max-width: 985px;
            margin: 0 auto 70px;
            @include media('mobile') {
                margin: 0 auto 35px;
                max-width: 600px;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 73px;
            @include media('mobile') {
                gap: 20px;
            }

            img {
                display: inline-flex;
                max-width: 492px;
                min-width: 150px;
                @include media('mobile') {
                    display: none;
                }
            }
        }

        &__title {
            font: 400 48px / 100% var(--ff-base);
            letter-spacing: -2px;
            text-align: center;
            @include media('mobile') {
                font-size: 24px;
            }

            span {
                color: var(--sea-blue);
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            @include media('mobile') {
                padding-inline: 20px;
                margin: 0 auto;
                gap: 12px;
            }
        }

        &__link {
            padding: 18px 24px;
            font: 400 16px / 100% var(--ff-nort);
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 10px;
            color: var(--white);
            background: var(--ball-blue);
            @include media('mobile') {
                font-size: 13px;
                padding: 13px;
            }
        }
    }
}
