@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff2') format('woff2');
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

@include font-face('Geologica', 'ff_base400', 400, normal);
@include font-face('Geologica', 'ff_base500', 500, normal);
@include font-face('FF Nort', 'ff_nort400', 400, normal);
@include font-face('FF Nort', 'ff_nort500', 500, normal);
@include font-face('FF Grafic', 'ff_grafic500', 500, normal);


