@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html {
    height: 100%;
}

body {
    font: 400 16px/1.5 var(--ff-base);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--bg-content);

    &.is-locked {
        overflow: hidden;
    }
}

main {
    flex: 1;
}

button {
    @include reset_button;
    display: flex;
    color: inherit;
}

a {
    @include reset_link;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: var(--container-padding);
    margin: 0 auto;
}

.container--right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );

    @media (max-width: 1510px) {
        & > div:first-child {
            padding-left: 20px;
        }
    }
}

.container--left {
    padding-right: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
}
section,
.scrl-mt {
    scroll-margin-top: var(--scrl-mt);
}

section {
    margin-bottom: var(--section-mb);
}

section.about {
    margin-bottom: 80px;
}

.swiper {
    &:has(.is-centered) {
        overflow: visible;
    }
    &-wrapper {
        &.is-centered {
            justify-content: center;
        }
    }
}

.lottie-anim {
    width: 48px;
    height: 48px;

    &--lg {
        width: 80px;
        height: 80px;
    }
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-width: 2px;
}

.air-datepicker-global-container {
    z-index: 40;
}

.air-datepicker-body--day-name {
    color: var(--sea-blue);
}

.js-animation {
    opacity: 0;
    transform: translate3d(0, 60px, 0) scale3d(0.96, 0.96, 1);
    transform-style: preserve-3d;
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;

    &._animated {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
