:root {
    --container-width: 1520px;
    --container-padding: 20px;

    --vh: 1vh;
    --section-mb: 140px;
    --section-pt: 140px;
    --scrl-mt: 170px;

    --ff-base: 'Geologica', sans-serif;
    --ff-nort: 'FF Nort', sans-serif;
    --ff-grafic: 'FF Grafic', sans-serif;

    --sea-blue: #005c90;
    --ball-blue: #26aacc;
    --white: #fff;
    --dark-grey: #242c33;
    --text-color: #3e3e40;
    --bg-content: #f0f4f9;
}

@media (max-width: 991px) {
    :root {
        --section-mb: 100px;
    }
}

@media (max-width: 767px) {
    :root {
        // --container-padding: 16px;
        --section-mb: 60px;
        --section-pt: 80px;
    }
}
