:root {
    --container-width: 1520px;
    --container-padding: 20px;

    --vh: 1vh;
    --section-mb: 140px;
    --section-pt: 140px;
    --scrl-mt: 150px;

    --ff-base: 'Gotham', sans-serif;

    --sea-blue: #005c90;
    --white: #fff;
    --text-color: #3e3e40;
    --bg-content: #f0f4f9;

    // --accent-color: #f7d252;
    // --text-color: #242c33;
    // --dark-grey: #242c33;
    // --grey: #3b4767;
    // --light-grey: #64666b;
    // --bg-color: #f9f7f0;
    // --white: #fff;
}

@media (max-width: 991px) {
    :root {
        --section-mb: 100px;
    }
}

@media (max-width: 767px) {
    :root {
        --container-padding: 16px;
        --section-mb: 80px;
        --section-pt: 80px;
    }
}
