@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--about {
    .hero {
        padding-top: 40px;

        @include media('mobile') {
            padding-top: 24px;
        }

        &__title {
            max-width: 850px;
            @include media('mobile') {
                max-width: 100%;
            }
        }

        &__head {
            margin-bottom: 52px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            @include media('mobile') {
                flex-direction: column;
                gap: 12px;
                margin-bottom: 24px;
                align-items: flex-start;
            }
        }

        &__descr {
            max-width: 340px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include media('mobile') {
                max-width: 100%;
                gap: 8px;
            }
        }

        &__content {
            display: flex;
            gap: 20px;
            @include media('mobile') {
                flex-direction: column;
                gap: 15px;
            }
        }

        &__thumbnail {
            border-radius: 32px;
            overflow: hidden;
            max-width: 855px;
            height: 460px;
            @include media('mobile') {
                height: 250px;
                border-radius: 12px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__video {
            max-width: 605px;
            height: 460px;
            border-radius: 32px;
            overflow: hidden;
            @include media('mobile') {
                max-width: 100%;
                height: 250px;
                border-radius: 12px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__subtitle {
            font: 400 32px / 100% var(--ff-base);
            letter-spacing: -1px;
            color: var(--sea-blue);
            @include media('mobile') {
                font-size: 20px;
            }
        }

        &__text {
            font: 400 16px / 140% var(--ff-nort);
            @include media('mobile') {
                font-size: 14px;
            }
        }
    }
}
