@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--contacts {
    .info {
        padding-top: 40px;
        @include media('mobile') {
            padding-top: 24px;
        }

        &__title {
            text-align: center;
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 24px;
            }
        }

        &__box {
            padding: 23px 37px 46px 23px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            border-radius: 32px;
            background: #fff;
            border: 1px solid #dfe0e1;
            box-shadow: 0px 4px 28px 0px #00000005;
            @include media('desktop') {
                flex-direction: column;
            }
            @include media('mobile') {
                border-radius: 16px;
                padding: 20px;
            }
        }

        &__col {
            &:first-child {
                max-width: 660px;
                @include media('desktop') {
                    max-width: 100%;
                }
            }

            &:last-child {
                padding-top: 25px;
                max-width: 654px;
                @include media('desktop') {
                    max-width: 100%;
                    width: 100%;
                }
                @include media('mobile') {
                    padding-top: 0;
                }
            }
        }

        &__preview {
            padding: 12px 16px;
            margin-bottom: 41px;
            border-radius: 32px;
            background: var(--white);
            border: 8px solid #f0f4f9;
            @include media('mobile') {
                padding: 0;
                border-radius: 12px;
                margin-bottom: 12px;
            }
        }

        &__thumb {
            border-radius: 20px;
            overflow: hidden;
            height: 468px;
            width: 100%;

            @include media('mobile') {
                height: 256px;
                border-radius: 4px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__reminder {
            font: 400 14px / 140% var(--ff-nort);
            @include media('mobile') {
                font-size: 12px;
            }
        }

        &__subtitle {
            font: 400 32px /100% var(--ff-base);
            letter-spacing: -1px;
            margin-bottom: 24px;
            @include media('mobile') {
                font-size: 24px;
                margin-bottom: 18px;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            margin-bottom: 24px;
            @include media('mobile') {
                grid-template-columns: repeat(1, 1fr);
                gap: 12px;
                margin-bottom: 12px;
            }

            &-item {
                font: 500 20px / 100% var(--ff-nort);
                display: flex;
                align-items: center;
                gap: 16px;
                @include media('mobile') {
                    font-size: 14px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &-link {
                align-items: center;
                gap: 16px;
                font: inherit;
            }
        }

        &__cons {
            margin-bottom: 24px;
            @include media('mobile') {
                width: 100%;
                justify-content: center;
            }
        }

        &__route {
            margin-bottom: 33px;
            padding: 32px;
            border-radius: 20px;
            background: #f0f4f9;

            @include media('mobile') {
                padding: 20px;
                border-radius: 12px;
                margin-bottom: 24px;
            }

            &-title {
                font: 500 24px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin-bottom: 20px;
                @include media('mobile') {
                    font-size: 18px;
                    margin-bottom: 16px;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                @include media('mobile') {
                    gap: 12px;
                }
            }

            &-link,
            &-btn {
                display: flex;
                align-items: center;
                gap: 8px;
                font: inherit;

                img {
                    width: 24px;
                    height: 24px;
                    @include media('mobile') {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &-btn {
                span {
                    text-decoration: underline;
                    text-align: left;
                }
            }

            &-item {
                font: 400 16px / 100% var(--ff-nort);
                @include media('mobile') {
                    font-size: 14px;
                }

                &:first-child {
                    font: 500 20px / 100% var(--ff-nort);
                    @include media('mobile') {
                        font-size: 18px;
                    }
                }
            }
        }

        &__contacts {
            display: flex;
            align-items: center;
            gap: 24px;

            @include media('mobile') {
                justify-content: space-between;
                flex-direction: column;
                gap: 12px;
            }

            &-title {
                font: 500 24px / 100% var(--ff-base);
                letter-spacing: -1px;
                @include media('mobile') {
                    font-size: 18px;
                }
            }

            &-list {
                display: flex;
                align-items: center;
                gap: 16px;
                @include media('mobile') {
                    gap: 8px;
                }
            }

            &-item {
                display: inline-flex;
                flex-shrink: 0;
                width: 56px;
                height: 56px;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                border: 1px solid var(--ball-blue);
                @include transitions(0.2s, ease-in);
                @include hover {
                    background: var(--ball-blue);
                }
                @include media('mobile') {
                    width: 34px;
                    height: 34px;
                }
            }

            &-link {
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                @include hover {
                    svg {
                        color: #fff;
                    }
                }

                svg {
                    width: 28px;
                    height: 28px;
                    color: #3e3e40;
                    @include transitions(0.2s, ease-in);
                    @include media('mobile') {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .map {
        &__inner {
            position: relative;
            padding: 27px;
            border-radius: 32px;
            background: #fff;
            border: 1px solid #dfe0e1;
            box-shadow: 0px 4px 28px 0px #00000005;
            @include media('mobile') {
                border-radius: 16px;
                padding: 16px;
            }
        }

        &__flow {
            border-radius: 20px;
            overflow: hidden;
            height: 524px;
            @include media('mobile') {
                height: 250px;
                border-radius: 10px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }

        &__ico {
            width: 48px;
            height: 48px;
            @include media('mobile') {
                width: 30px;
                height: 30px;
            }
        }

        &__title {
            font: 500 14px / 100% var(--ff-nort);
            border-radius: 28px;
            display: inline-flex;
            padding: 6px 12px;
            color: var(--sea-blue);
            background: #fff;
            box-shadow: 0px 4px 8px 0px #0000001f;
        }
    }
}
