@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--doctor {
    .info {
        padding-top: 32px;
        @include media('mobile') {
            padding-top: 24px;
        }

        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            @include media('tablet') {
                flex-direction: column;
            }
        }

        &__sticky {
            position: sticky;
            top: 140px;
            max-width: 730px;
            width: 100%;
            @include media('tablet') {
                position: relative;
                top: 0;
                max-width: 100%;
            }
        }

        &__shape {
            position: absolute;
            bottom: 0;
            pointer-events: none;
            color: var(--bg-content);
            left: 50%;
            transform: translateX(-50%);
            @include media('mobile') {
                min-height: 48px;
                width: 100%;
                height: auto;
            }
        }

        &__thumbnail {
            position: relative;
            width: 100%;
            height: 80vh;
            height: 80svh;
            border-radius: 32px;
            overflow: hidden;
            @include media('mobile') {
                height: 50vh;
                height: 50svh;
                border-radius: 16px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__cta {
            z-index: 2;
            font: 500 16px / 100% var(--ff-nort);
            text-transform: uppercase;
            max-width: 400px;
            width: 100%;
            padding: 18px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: 10px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: var(--white);
            background: var(--ball-blue);
            @include transitions(0.2s, ease-in);
            @include hover {
                background-color: #0084ad;
            }
            @include media('mobile') {
                padding: 13px;
                font-size: 13px;
                width: 70%;
            }
        }

        &__about {
            max-width: 604px;
            width: 100%;
            @include media('tablet') {
                max-width: 100%;
            }
        }

        &__controls {
            display: flex;
            align-items: center;
            gap: 48px;
            margin-bottom: 36px;

            @include media('mobile') {
                margin-bottom: 24px;
                gap: 20px;
            }

            .link-more {
                gap: 15px;
            }

            &-rev {
                display: inline-flex;
                align-items: center;
                gap: 8px;
                font: 500 16px / 100% var(--ff-nort);
                text-transform: uppercase;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &__dossier {
            h1 {
                font: 400 48px / 100% var(--ff-base);
                letter-spacing: -2px;
                margin: 0 0 24px;
                @include media('mobile') {
                    font-size: 32px;
                    margin: 0 0 18px;
                }
            }
        }

        &__labels {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 24px;
            @include media('mobile') {
                gap: 8px;
            }

            span {
                font: 500 14px / 100% var(--ff-nort);
                text-align: center;
                padding: 6px 16px;
                border-radius: 4px;
                background: #26aacc1f;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 40px;
            @include media('mobile') {
                gap: 12px;
                margin-bottom: 24px;
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 9px;
            }

            &-title {
                font: 500 20px / 100% var(--ff-nort);
                @include media('mobile') {
                    font-size: 16px;
                }
            }

            &-descr {
                font: 400 18px / 120% var(--ff-nort);
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                @include media('mobile') {
                    font-size: 14px;
                }

                span {
                    font-weight: 500;
                }
            }

            p {
                margin: 0;
            }
        }

        &__additional {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &-item {
                padding: 19px 19px 19px 31px;
                cursor: pointer;
                border-radius: 16px;
                border: 1px solid #787e8033;
                background: linear-gradient(
                    90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                @include transitions(0.3s, ease-in-out);
                @include media('mobile') {
                    padding: 16px;
                    border-radius: 12px;
                }

                &.is-hover {
                    @include hover {
                        box-shadow: 0px 8px 20px 0px #00000014;
                        padding: 19px 19px 19px 39px;
                        @include media('mobile') {
                            padding: 16px 16px 16px 22px;
                        }

                        .info__additional-title {
                            color: var(--ball-blue);
                        }

                        .info__additional-wrapper {
                            span {
                                color: var(--white);
                                background: var(--ball-blue);
                            }
                        }
                    }
                }

                &.is-open {
                    padding: 19px 19px 35px 39px;

                    @include media('mobile') {
                        padding: 16px 16px 16px 22px;
                    }

                    .info__additional-inner {
                        grid-template-rows: 1fr;
                    }

                    .info__additional-wrapper {
                        margin-bottom: 16px;
                        span {
                            background: var(--ball-blue);
                            svg {
                                transform: rotate(-180deg);
                                color: var(--white);
                            }
                        }
                    }
                }
            }

            &-inner {
                display: grid;
                grid-template-rows: 0fr;
                @include transitions(0.3s, ease-in-out);
            }

            &-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                @include transitions(0.3s, ease-in-out);

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    background: rgba(38, 170, 204, 0.2);
                    @include transitions(0.3s, ease-in-out);
                    @include media('mobile') {
                        width: 25px;
                        height: 25px;
                        border-radius: 4px;
                    }

                    svg {
                        @include transitions(0.3s, ease-in-out);
                        @include media('mobile') {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            &-title {
                font: 500 24px / 100% var(--ff-base);
                letter-spacing: -1px;
                @include transitions(0.3s, ease-in-out);
                @include media('mobile') {
                    font-size: 18px;
                }
            }

            &-points {
                display: flex;
                flex-direction: column;
                gap: 12px;
                overflow: hidden;
            }

            &-point {
                font: 400 16px / 140% var(--ff-nort);
                display: inline-flex;
                align-items: flex-start;
                gap: 12px;
                @include media('mobile') {
                    font-size: 14px;
                    gap: 8px;
                }

                &::before {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                    background: url('../img/icons/ico-logo.svg') no-repeat
                        center center / cover;
                    @include media('mobile') {
                        width: 20px;
                        height: 20px;
                    }
                }

                a {
                    text-decoration: underline;
                    color: var(--sea-blue);
                }
            }
        }
    }
}
