@use '../../base/media' as *;
@use '../../base/mixins' as *;
section:has(.anchor-panel) {
    position: relative;
    height: calc(100vh - 120px);
    height: calc(100svh - 120px);
    @include media('mobile') {
        height: auto;
    }
}
.anchor-panel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 12px;
    max-width: 1505px;
    width: 100%;
    @include media('mobile') {
        position: sticky;
        bottom: 20px;
        z-index: 10;
        padding-inline: 3px;
        transform: translateX(0%);
    }

    ul {
        overflow: scroll;
        padding: 0;
        padding-inline: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        border-radius: 16px;
        margin: 0;
        width: 100%;
        background: var(--white);
        border: 1px solid #d4dbde;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        @include media('mobile') {
            padding-inline: 15px;
            border-radius: 12px;
            background: #fff;
        }
    }

    li {
        list-style-type: none;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    a {
        width: max-content;
        padding: 28px 5px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex: 1;
        font: 500 18px / 100% var(--ff-nort);
        position: relative;
        overflow: hidden;

        @include media('mobile') {
            padding: 15px 5px;
            font-size: 16px;
        }

        &::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 6px;
            background: url('../img/icons/anchor-deco.svg') no-repeat center
                center;
            @include transitions(0.3s, ease-in);
            transform: translateY(100%);

            @include media('mobile') {
                background: url('../img/icons/anchor-deco.svg') no-repeat center
                center / contain;
                height: 3px;
            }
        }

        &.is-current {
            &::after {
                transform: translateY(0);
            }
        }
    }
}
