@use '../../base/media' as *;
@use '../../base/mixins' as *;

.btn-more {
    font: 500 16px / 100% var(--ff-nort);
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--ball-blue);
    gap: 8px;
    padding: 16px 26px;
    margin: 28px auto 0;
    @include transitions(0.2s, ease-in);
    @include hover {
        background: var(--ball-blue);
        color: var(--white);
        svg {
            color: var(--white);
        }
    }

    @include media('mobile') {
        margin: 16px auto 0;
        padding: 7px 14px;
        font-size: 14px;
    }

    svg {
        color: var(--ball-blue);
        @include transitions(0.2s, ease-in);
        @include media('mobile') {
            width: 18px;
            height: 18px;
        }
    }

    span {
        &.text:last-of-type {
            display: none;
        }
    }

    &.btn-toggle {
        span {
            &.text:last-of-type {
                height: 0;
                width: 0;
                opacity: 0;
                visibility: hidden;
                display: inline-block;
            }
        }

        &.is-active {
            span {
                &.text:last-of-type {
                    height: auto;
                    width: auto;
                    opacity: 1;
                    visibility: visible;
                    display: inline-block;
                }

                &.text:first-of-type {
                    height: 0;
                    width: 0;
                    opacity: 0;
                    visibility: hidden;
                    display: inline-block;
                }
            }
        }
    }
}
