@use '../../base/media' as *;
@use '../../base/mixins' as *;

.cta {
    &--light {
        font: 400 14px / 100% var(--ff-nort);
        text-transform: uppercase;
        padding: 15px 20px;
        border-radius: 10px;
        color: var(--white);
        background: var(--ball-blue);
        @include media('mobile') {
            font-size: 13px;
            padding: 7px 12px;
            border-radius: 8px;
        }
    }

    &--lg {
        padding: 18px 24px;
        font-size: 16px;
    }
}
