@use '../../base/media' as *;
@use '../../base/mixins' as *;

.content-title {
    font: 400 68px / 100% var(--ff-base);
    letter-spacing: -1px;

    @include media('tablet') {
        font-size: 48px;
    }

    @include media('mobile') {
        font-size: 32px;
    }

    &--smart {
        letter-spacing: -3px;
    }

    span {
        color: var(--sea-blue);
    }
}
