@use '../base/media' as *;
@use '../base/mixins' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 13px;
    padding-top: 32px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @include media('mobile') {
        padding-top: 24px;
    }

    &--centered {
        justify-content: center;
    }

    li {
        font: 400 16px / 100% var(--ff-nort);
        min-width: max-content;
        @include media('mobile') {
            font-size: 14px;
        }

        a {
            font: inherit;
        }

        &:not(:first-child) {
            opacity: 0.4;
            display: inline-flex;
            align-items: center;
            gap: 13px;

            &::before {
                content: '';
                display: inline-flex;
                align-items: center;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                background: url('../img/icons/ico-bread.svg') no-repeat center
                    center;
            }
        }
    }
}
