@use '../base/media' as *;
@use '../base/mixins' as *;

.interest-box {
    height: 100%;
    flex-direction: column;
    padding: 30px;
    border-radius: 24px;
    border: 2px solid #d4dbde;
    background: #ffffff33;
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    @include hover {
        background: var(--white);

        .interest-box__img {
            img {
                transform: scale(1.15);
            }
        }

        .interest-box__title {
            color: var(--ball-blue);

            &::after {
                opacity: 1;
            }
        }

        .interest-box__more {
            span:last-child {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    @include media('mobile') {
        padding: 19px;
    }

    &--article {
        .interest-box__img {
            height: 260px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__tags {
        position: absolute;
        left: 12px;
        bottom: 12px;
        right: 12px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        position: absolute;

        span {
            display: inline-flex;
            padding: 6px 16px;
            border-radius: 4px;
            font: 500 14px / 100% var(--ff-nort);
            color: var(--white);
            background: var(--ball-blue);
        }
    }

    &__img {
        position: relative;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 24px;
        overflow: hidden;
        @include media('mobile') {
            margin-bottom: 16px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(0.3s, ease-in);
        }
    }

    &__title {
        font: 500 24px / 100% var(--ff-base);
        letter-spacing: -1px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        position: relative;
        color: var(--dark-grey);
        @include transitions(0.3s, ease-in);
        @include media('mobile') {
            font-size: 18px;
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            opacity: 0;
            background-color: var(--ball-blue);
            @include transitions(0.3s, ease-in);
        }
    }

    &__more {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: auto;

        @include media('mobile') {
            gap: 6px;
        }

        span {
            &:first-child {
                font: 500 16px / 100% var(--ff-nort);
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #3e3e40;
                @include media('mobile') {
                    font-size: 14px;
                }
            }

            &:last-child {
                display: inline-flex;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 50%;
                color: var(--white);
                background: var(--ball-blue);
                @include media('mobile') {
                    width: 20px;
                    height: 20px;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    display: inline-flex;
                    flex-shrink: 0;
                    z-index: 2;
                    @include media('mobile') {
                        width: 12px;
                        height: 12px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    opacity: 0;
                    background: var(--ball-blue);
                    @include transitions(0.3s, ease-in);
                }
            }
        }
    }
}
