@use '../base/media' as *;
@use '../base/mixins' as *;

.prices-kit {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        cursor: pointer;
        padding: 19px 19px 19px 31px;
        border-radius: 16px;
        border: 1px solid #787e8033;
        background: linear-gradient(
            90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.3) 100%
        );
        @include transitions(0.3s, ease-in-out);
        @include media('mobile') {
            padding: 16px;
        }
    }

    &--sm {
        .prices-kit__item {
            &.is-hover {
                @include hover {
                    box-shadow: 0px 8px 20px 0px #00000014;
                    padding: 19px 19px 19px 39px;
                    @include media('mobile') {
                        padding: 16px 16px 16px 22px;
                    }

                    .prices-kit__title {
                        color: var(--ball-blue);
                    }

                    .prices-kit__arrow {
                        color: var(--white);
                        background: var(--ball-blue);
                    }
                }
            }

            &.is-open {
                padding: 19px 19px 35px 39px;
                @include media('mobile') {
                    padding: 16px 16px 16px 22px;
                }
                .prices-kit__inner {
                    grid-template-rows: 1fr;
                }

                .prices-kit__wrapper {
                    margin-bottom: 16px;
                }

                .prices-kit__arrow {
                    background: var(--ball-blue);
                    svg {
                        transform: rotate(-180deg);
                        color: var(--white);
                    }
                }
            }
        }

        .prices-kit__right {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        .prices-kit__cta {
            font: 500 14px / 100% var(--ff-nort);
            text-transform: uppercase;
            border-radius: 10px;
            padding: 15px 20px;
            color: var(--white);
            background: var(--ball-blue);
            @include transitions(0.2s, ease-in);
            @include hover {
                background-color: #0084ad;
            }
        }

        .prices-kit__total {
            display: flex;
            align-items: center;
            gap: 12px;

            span {
                font: 500 20px / 100% var(--ff-nort);

                &:first-child {
                    opacity: 0.4;
                    text-decoration: line-through;
                }

                &:last-child {
                    color: var(--sea-blue);
                }
            }
        }

        .prices-kit__inner {
            display: grid;
            grid-template-rows: 0fr;
            @include transitions(0.3s, ease-in-out);
        }

        .prices-kit__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            @include transitions(0.3s, ease-in-out);
        }

        .prices-kit__arrow {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            background: rgba(38, 170, 204, 0.2);
            @include transitions(0.3s, ease-in-out);

            svg {
                @include transitions(0.3s, ease-in-out);
            }
        }

        .prices-kit__title {
            font: 500 24px / 100% var(--ff-base);
            letter-spacing: -1px;
            @include transitions(0.3s, ease-in-out);
        }

        .prices-kit__content {
            overflow: hidden;
        }

        .prices-kit__points {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 20px;
        }

        .prices-kit__point {
            font: 400 16px / 140% var(--ff-nort);
            display: inline-flex;
            align-items: flex-start;
            gap: 12px;

            &::before {
                content: '';
                display: inline-flex;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                background: url('../img/icons/ico-logo.svg') no-repeat center
                    center / cover;
            }

            a {
                text-decoration: underline;
                color: var(--sea-blue);
            }
        }
    }

    &--lg {
        .prices-kit__item {
            &.is-hover {
                @include hover {
                    box-shadow: 0px 8px 20px 0px #00000014;
                    padding: 19px 19px 19px 39px;
                    @include media('mobile') {
                        padding: 16px 16px 16px 22px;
                    }

                    .prices-kit__name {
                        color: var(--ball-blue);
                    }

                    .prices-kit__total {
                        span:last-child {
                            color: var(--white);
                            background: var(--ball-blue);
                        }
                    }
                }
            }

            &.is-open {
                .prices-kit__total {
                    span:last-child {
                        background: var(--ball-blue);
                        svg {
                            transform: rotate(-180deg);
                            color: var(--white);
                        }
                    }
                }
                .prices-kit__content {
                    grid-template-rows: 1fr;
                }

                .prices-kit__name {
                    padding-left: 8px;
                }

                .prices-kit__head {
                    margin-bottom: 20px;
                    @include media('mobile') {
                        margin-bottom: 12px;
                    }
                }
            }
        }

        .prices-kit__head {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            @include transitions(0.3s, ease-in-out);
        }

        .prices-kit__name {
            font: 400 32px / 100% var(--ff-base);
            letter-spacing: -1px;
            @include transitions(0.3s, ease-in-out);
            @include media('mobile') {
                font-size: 18px;
            }
        }

        .prices-kit__total {
            display: flex;
            align-items: center;
            gap: 32px;
            @include media('mobile') {
                gap: 12px;
            }

            span {
                &:first-child {
                    font: 500 20px / 100% var(--ff-nort);
                    @include media('mobile') {
                        font-size: 16px;
                    }
                }

                &:last-child {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    background: rgba(38, 170, 204, 0.2);
                    @include transitions(0.3s, ease-in-out);
                    @include media('mobile') {
                        width: 24px;
                        height: 24px;
                    }

                    svg {
                        @include transitions(0.3s, ease-in-out);
                        @include media('mobile') {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }

        .prices-kit__subtitle {
            font: 500 24px / 100% var(--ff-base);
            letter-spacing: -1px;
            @include media('mobile') {
                font-size: 16px;
            }
        }

        .prices-kit__point {
            padding: 16px 8px 16px 20px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            @include media('mobile') {
                padding: 12px 8px 16px 12px;
                flex-direction: column;
                align-items: flex-start;
            }

            &:has(.prices-kit__description) {
                align-items: flex-start;
            }

            &:first-child {
                border-top: 1px solid #d4dbde;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #d4dbde;
            }
        }

        .prices-kit__about {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .prices-kit__description {
            font: 400 16px / 140% var(--ff-nort);
            @include media('mobile') {
                font-size: 13px;
            }
        }

        .prices-kit__info {
            display: flex;
            align-items: center;
            gap: 20px;
            @include media('mobile') {
                flex-direction: column;
                gap: 12px;
                width: 100%;
                align-items: flex-start;
            }
        }

        .prices-kit__content {
            display: grid;
            grid-template-rows: 0fr;
            @include transitions(0.3s, ease-in-out);
        }

        .prices-kit__all {
            overflow: hidden;
        }

        .prices-kit__collect {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .prices-kit__actual {
            font: 500 20px / 100% var(--ff-nort);
            @include media('mobile') {
                font-size: 16px;
            }
        }

        .prices-kit__old {
            font: 500 18px / 100% var(--ff-nort);
            text-decoration: line-through;
            color: #787e80;
            @include media('mobile') {
                font-size: 14px;
            }
        }

        .prices-kit__sign {
            font: 500 14px / 100% var(--ff-nort);
            text-transform: uppercase;
            border-radius: 10px;
            padding: 11px 26px;
            border: 2px solid var(--ball-blue);
            @include transitions(0.2s, ease-in);
            @include hover {
                background: var(--ball-blue);
                color: var(--white);
            }
            @include media('mobile') {
                font-size: 13px;
                justify-content: center;
                width: 100%;
            }

            &--disabled {
                cursor: auto;
                color: #787e80;
                border-color: #d4dbde;
                pointer-events: none;
            }
        }
    }
}
