@use '../base/media' as *;
@use '../base/mixins' as *;

.slider-navigation {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    @include media('mobile') {
        gap: 12px;
    }

    &__btn {
        width: 52px;
        height: 52px;
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid var(--ball-blue);
        @include transitions(0.2s, ease-in);
        @include hover {
            border-color: #0084ad;
            background: #0084ad;
            color: var(--white);
        }
        @include media('mobile') {
            width: 36px;
            height: 36px;
        }

        &.swiper-button-disabled {
            opacity: 0.6;
            pointer-events: none;
        }

        svg {
            display: inline-flex;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            @include media('mobile') {
                width: 18px;
                height: 18px;
            }
        }
    }
}
