@use '../base/media' as *;
@use '../base/mixins' as *;

@use 'slider-navigation';
@use 'slider-pagination';

.slider-controls {
    padding-top: 28px;
    display: flex;
    align-items: center;
    gap: 40px;
    @include media('mobile') {
        gap: 20px;
        padding-top: 20px;
    }

    &.controls--vertical {
        .slider-navigation {
            width: 100%;
            gap: 30px;
            @include media('mobile') {
                gap: 20px;
            }
        }
    }
}
