@use '../../base/media' as *;
@use '../../base/mixins' as *;

.partners {
    @include media('mobile') {
        overflow: hidden;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 40px;
        @include media('mobile') {
            margin-bottom: 20px;
        }
    }

    &__items {
        @include media('mobile') {
            overflow: visible;
        }

        &-slide {
            @include media('mobile') {
                width: auto;
            }
        }
    }

    .partners-box {
        padding: 12px;
        position: relative;
        width: 206px;
        height: 72px;

        &:hover {
            img {
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
            @include transitions(0.3s, ease-in);

            &:last-child {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
