@use '../../base/media' as *;
@use '../../base/mixins' as *;

.about {
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 60px;
        border-radius: 32px;
        border: 1px solid #dfe0e1;
        box-shadow: 0px 4px 28px 0px #00000005;
        background: var(--white);
        @include media('tablet') {
            padding: 40px;
            flex-direction: column;
        }
        @include media('mobile') {
            padding: 24px 20px;
            border-radius: 20px;
        }
    }

    &__titles {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include media('tablet') {
            max-width: 100%;
        }
        @include media('mobile') {
            gap: 12px;
        }
    }

    &__subtitle {
        font: 400 32px / 100% var(--ff-base);
        letter-spacing: -1px;
        @include media('mobile') {
            font-size: 20px;
        }
    }

    &__text {
        max-width: 670px;
        @include media('mobile') {
            max-width: 100%;
        }

        div {
            display: grid;
            grid-template-rows: 0fr;
            @include transitions(0.3s, ease-in);

            &:first-of-type.is-active {
                margin-bottom: 24px;
            }

            &.is-active {
                grid-template-rows: 1fr;
            }
        }

        &.is-shown {
            div.is-active:not(:last-of-type) {
                margin-bottom: 24px;
            }
        }
    }

    &__paragraph {
        font: 400 16px / 140% var(--ff-nort);
        overflow: hidden;
        @include media('mobile') {
            font-size: 14px;
        }
    }

    &__more {
        font: 400 14px / 100% var(--ff-nort);
        display: inline-flex;
        align-items: center;
        gap: 10px;
        margin-top: 16px;
        max-height: 100px;

        &.is-hide {
            @include transitions(0.3s, ease-in);

            span {
                &.text {
                    &:first-child {
                        opacity: 0;
                        height: 0;
                        visibility: hidden;
                    }

                    &:last-child {
                        height: 20px;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.ico {
                    transform: rotate(180deg);
                }
            }
        }

        &-texts {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        span {
            &.text {
                display: flex;
                align-items: center;
                height: 20px;
                color: #787e80;
                @include transitions(0.3s, ease-in);

                &:last-child {
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &.ico {
                display: inline-flex;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background: var(--ball-blue);
                color: #fff;
                @include transitions(0.3s, ease-in);
            }
        }
    }
}
