@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--doctors {
    .content {
        padding-top: 40px;
        @include media('mobile') {
            padding-top: 24px;
        }

        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            @include media('desktop') {
                flex-direction: column;
                gap: 12px;
            }
            @include media('mobile') {
                gap: 8px;
            }
        }

        &__filters {
            position: sticky;
            top: 150px;
            max-width: 328px;
            width: 100%;
            @include media('desktop') {
                max-width: 100%;
                position: relative;
                top: 0;
                z-index: 2;
            }
        }

        &__title {
            margin-bottom: 56px;
            @include media('desktop') {
                margin-bottom: 24px;
            }
            @include media('mobile') {
                margin-bottom: 12px;
            }
        }

        &__tabs {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 32px;
            @include media('desktop') {
                flex-direction: row;
            }
            @include media('mobile') {
                flex-direction: column;
                gap: 10px;
                margin-bottom: 18px;
            }
        }

        &__tab {
            cursor: pointer;

            &.is-active {
                .content__category {
                    opacity: 1;
                }

                svg {
                    color: #0096bc;
                }
            }
        }

        &__category {
            display: flex;
            align-items: center;
            gap: 12px;
            opacity: 0.6;
            @include transitions(0.2s, ease-in);

            @include media('mobile') {
                gap: 8px;
            }

            span {
                &:first-child {
                    font: 400 32px / 100% var(--ff-base);
                    letter-spacing: -1px;
                    @include media('mobile') {
                        font-size: 16px;
                        min-width: max-content;
                    }
                }

                &:last-child {
                    display: inline-flex;
                    width: 24px;
                    height: 24px;

                    @include media('mobile') {
                        width: 16px;
                        height: 16px;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &__selects {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include media('desktop') {
                gap: 12px;
            }
            @include media('mobile') {
                gap: 8px;
            }
        }

        &__select {
            width: 100%;
            position: relative;

            .select-hidden {
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            .select-wrap {
                cursor: pointer;
                display: inline-block;
                position: relative;
                font-size: 18px;
                width: 100%;
            }

            .select-styled {
                font: 400 18px / 160% var(--ff-nort);
                position: relative;
                min-height: 61px;
                border-radius: 12px;
                padding: 15px 27px;
                border: 1px solid #d4dbde;
                background: linear-gradient(
                    90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );

                @include transitions(0.3s, ease-out);
                @include media('mobile') {
                    font-size: 12px;
                    padding: 12px 11px;
                    min-height: 40px;
                }

                &.placeholder {
                    color: #3e3e40;
                    @include media('mobile') {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                    }
                }

                &::after {
                    content: '';
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    flex-shrink: 0;
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                    background: url('../img/icons/icoDrop_blue.svg') no-repeat
                        center center;
                    @include transitions(0.3s, ease-out);
                    @include media('mobile') {
                        right: 7px;
                        width: 20px;
                        height: 20px;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                &:focus,
                &.active {
                    border: 1px solid var(--ball-blue);
                    background: linear-gradient(
                        90deg,
                        #ffffff 0%,
                        #ffffff 100%
                    );

                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }

            .select-options {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 20px 24px;
                position: absolute;
                right: 0;
                left: 0;
                bottom: -3px;
                transform: translateY(100%);
                z-index: 2;
                border-radius: 16px;
                max-height: 170px;
                overflow: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                background: var(--white);
                border: 1px solid #d4dbde;
                box-shadow: 0px 4px 12px 0px #00000014;
                @include transitions(0.3s, ease-out);
                @include media('mobile') {
                    padding: 12px 16px;
                }

                li {
                    font: 400 18px / 160% var(--ff-nort);
                    @include transitions(0.3s, ease-out);
                    @include media('mobile') {
                        font-size: 14px;
                    }

                    &:first-child {
                        display: none;
                    }

                    &:hover {
                        color: #0084ad;
                    }

                    &.is-selected {
                        color: #0084ad;
                    }

                    &[rel='hide'] {
                        display: none;
                    }
                }

                &.hidden {
                    opacity: 0;
                    visibility: hidden;
                }

                &.show {
                    opacity: 1;
                    bottom: -2px;
                    visibility: visible;
                }
            }
        }

        &__body {
            width: 100%;
            max-width: 1086px;
            @include media('desktop') {
                max-width: 100%;
            }
        }

        &__search {
            position: relative;
            margin-bottom: 60px;
            @include media('mobile') {
                margin-bottom: 24px;
            }

            img {
                position: absolute;
                top: 50%;
                left: 27px;
                width: 20px;
                height: 20px;
                transform: translateY(-50%);
                @include media('mobile') {
                    left: 12px;
                }
            }

            input {
                font: 400 18px / 100% var(--ff-nort);
                width: 100%;
                outline: none;
                min-height: 61px;
                padding: 15px 20px 15px 55px;
                border-radius: 10px;
                border: 1px solid #d4dbde;
                background: linear-gradient(
                    90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );

                @include transitions(0.3s, ease-out);
                @include media('mobile') {
                    font-size: 14px;
                    padding: 12px 12px 12px 39px;
                    min-height: auto;
                }

                &:focus {
                    border: 1px solid var(--ball-blue);
                    background: linear-gradient(
                        90deg,
                        #ffffff 0%,
                        #ffffff 100%
                    );
                }

                &::placeholder {
                    color: rgba(62, 62, 64, 0.6);
                }

                &[type='search']::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    appearance: none;
                }

                &[type='search']::-webkit-search-decoration {
                    -webkit-appearance: none;
                    appearance: none;
                }

                &[type='search'] {
                    -moz-appearance: textfield;
                }

                &[type='search'] {
                    appearance: none;
                }
            }
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px 24px;
            margin-bottom: 60px;
            @include media('desktop') {
                margin-bottom: 24px;
                gap: 12px;
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &__pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 24px;
            }

            &-btn {
                font: 500 16px / 100% var(--ff-nort);
                letter-spacing: 1px;
                text-transform: uppercase;
                display: inline-flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 2px solid transparent;
                @include transitions(0.2s, ease-in);
                @include media('mobile') {
                    font-size: 14px;
                    width: 32px;
                    height: 32px;
                }

                &.is-active {
                    border-color: var(--ball-blue);
                }
            }
        }

        .btn-more {
            margin: 0 auto;
        }
    }
}
