@use '../../base/media' as *;
@use '../../base/mixins' as *;

.review-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.3);
    @include transitions(0.3s, ease-out);

    &.is-shown {
        opacity: 1;
        visibility: visible;

        .review-modal__inner {
            transform: translateY(0);
        }
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        display: inline-flex;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(38, 170, 204, 0.1);

        @include media('mobile') {
            top: 8px;
            right: 8px;
            width: 28px;
            height: 28px;
        }

        svg {
            width: 24px;
            height: 24px;
            color: #3e3e40;
            @include media('mobile') {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__inner {
        transform: translateY(-20%);
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
        @include transitions(0.3s, ease-out);
    }

    &__stars {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include media('mobile') {
            gap: 12px;
            padding-top: 12px;
            flex-direction: column;
            align-items: flex-start;
        }

        .element {
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                font: 400 16px / 100% var(--ff-nort);
                margin: 0;
                @include media('mobile') {
                    font-size: 13px;
                }
            }

            div {
                display: flex;
                align-items: center;
                gap: 12px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        max-width: 560px;
        margin-bottom: 24px;
        @include media('mobile') {
            margin-bottom: 12px;
            max-width: 270px;
        }

        div:last-child {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__col {
        &:first-of-type {
            padding: 40px 48px;
            @include media('mobile') {
                padding: 20px 16px;
            }
        }

        &:last-of-type {
            padding-top: 24px;
            border-top: 1px solid #d4dbde;
            @include media('mobile') {
                padding-top: 20px;
            }
        }
    }

    &__content {
        max-width: 720px;
        max-height: 90%;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        border-radius: 24px;
        position: relative;
        background: var(--white);
        box-shadow: 0px 4px 28px 0px #00000005;
        @include transitions(0.3s, ease-out);
        @include media('mobile') {
            border-radius: 10px;
        }
    }

    &__body {
        padding: 30px;

        .feedback-box__head {
            margin-bottom: 24px;
        }

        .feedback-box__name {
            font: 400 48px / 100% var(--ff-base);
            letter-spacing: -2px;
            margin-bottom: 16px;
        }

        .feedback-box__date {
            font: 400 16px / 100% var(--ff-nort);
        }

        .feedback-box__text {
            font: 400 16px / 140% var(--ff-nort);
            max-height: 264px;
            overflow-y: auto;
        }

        .feedback-box__labels span {
            font: 500 14px / 100% var(--ff-nort);
            border-radius: 4px;
            display: inline-flex;
            padding: 6px 16px;
            margin-bottom: 16px;
            background: rgba(38, 170, 204, 0.1215686275);
        }
    }

    .name {
        font: 400 48px / 100% var(--ff-base);
        letter-spacing: -2px;
        margin-bottom: 16px;
        @include media('mobile') {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    .date {
        font: 400 16px / 100% var(--ff-nort);
        @include media('mobile') {
            font-size: 13px;
        }
    }

    .text {
        font: 400 16px / 140% var(--ff-nort);
        max-height: 264px;
        overflow-y: auto;
        @include media('mobile') {
            font-size: 13px;
        }
    }

    .answer {
        font: 400 16px / 140% var(--ff-nort);
        max-height: 150px;
        overflow-y: auto;
        @include media('mobile') {
            font-size: 13px;
        }
    }

    .rating {
        font: 500 20px / 100% var(--ff-nort);
        @include media('mobile') {
            font-size: 16px;
        }
    }

    .source {
        display: flex;
        align-items: center;
        gap: 12px;

        div:last-child {
            p:last-child {
                font: 400 16px / 100% var(--ff-nort);
                @include media('mobile') {
                    font-size: 14px;
                }
            }
        }

        div:first-child {
            width: 44px;
            height: 44px;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #f0f4f9;
            @include media('mobile') {
                width: 40px;
                height: 40px;
            }

            img {
                width: 24px;
                height: 24px;
                @include media('mobile') {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .naiming,
    .specialist {
        font: 400 16px / 140% var(--ff-nort);
        text-decoration: underline;
        @include media('mobile') {
            font-size: 14px;
        }
    }

    .admin-text {
        margin: 0 48px 48px 40px;
        border-radius: 8px;
        padding: 20px 32px;
        background: #f0f4f9;
        @include media('mobile') {
            margin: 0 16px 20px 16px;
            padding: 16px 14px;
        }

        &__head {
            font: 500 16px / 100% var(--ff-nort);
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;
            color: var(--sea-blue);

            @include media('mobile') {
                font-size: 13px;
                margin-bottom: 8px;
            }

            img {
                width: 28px;
                height: 28px;
                @include media('mobile') {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .target-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 24px;
        padding-inline: 48px;
        @include media('mobile') {
            padding-inline: 16px;
            flex-direction: column;
        }

        &__title {
            font: 400 16px / 100% var(--ff-nort);
            opacity: 0.6;
            margin-bottom: 4px;
            @include media('mobile') {
                font-size: 14px;
            }
        }
    }
}
