@use '../../base/media' as *;
@use '../../base/mixins' as *;

.visit-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(25, 25, 25, 0.8);
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;

    &.is-show {
        opacity: 1;
        visibility: visible;

        .visit-modal__inner {
            transform: translateY(0);
        }
    }

    &__target {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;

        img {
            width: 56px;
            height: 56px;
            display: inline-flex;
            flex-shrink: 0;
        }

        p {
            font: 500 24px / 100% var(--ff-base);
            letter-spacing: -1px;
            margin-bottom: 4px;
        }

        span {
            font: 500 20px / 100% var(--ff-nort);
            color: var(--ball-blue);
        }
    }

    &__inner {
        transform: translateY(-20%);
        transition: all 0.3s ease-in;
        padding: 12px;
        max-width: 95%;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
            font: 400 16px / 140% var(--ff-nort);
            margin: 0;

            span {
                color: var(--ball-blue);
            }
        }
    }

    &__box {
        max-height: 90%;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        max-width: 720px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 48px;
        border-radius: 32px;
        background: #fff;
        box-shadow: 0px 4px 28px 0px #00000005;
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        display: inline-flex;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(38, 170, 204, 0.1);

        svg {
            width: 24px;
            height: 24px;
            color: #3e3e40;
        }
    }

    &__title {
        font: 400 48px / 100% var(--ff-base);
        letter-spacing: -2px;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 8px;
        font: 400 16px / 140% var(--ff-nort);

        svg {
            width: 20px;
            height: 20px;
            display: inline-flex;
            flex-shrink: 0;
            color: var(--sea-blue);
        }
    }

    &__link {
        font: 400 16px / 100% var(--ff-nort);
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        width: 100%;
        max-width: 293px;
        border-radius: 10px;
        background: var(--ball-blue);
        color: var(--white);
        @include transitions(0.2s, ease-in);
        @include hover {
            background-color: #0084ad;
        }
    }

    &__thumb {
        margin-bottom: 20px;
        width: 100%;
        padding: 40px 60px 0 60px;
        border-bottom: 1px solid #d4dbde;
        img {
            max-width: 222px;
            margin: 0 auto;
        }
    }

    &__done {
        padding: 0 40px 48px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .visit--form {
        transition: all 0.3s ease-in;

        &.is-hide {
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -40%);
        }
        .visit-modal__title {
            margin-bottom: 32px;
        }
    }

    .visit--success {
        padding: 0;
        transition: all 0.3s ease-in;

        &.is-hide {
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -60%);
        }

        .visit-modal__content {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
    }
}
