@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--article {
    .content {
        padding-top: 40px;
        @include media('mobile') {
            padding-top: 24px;
        }

        &__head {
            margin-bottom: 32px;
        }

        &__title {
            font: 400 48px / 100% var(--ff-base);
            letter-spacing: -2px;
            max-width: 730px;
            margin-bottom: 20px;
            @include media('mobile') {
                font-size: 24px;
                margin-bottom: 12px;
                max-width: 100%;
            }
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            span {
                display: inline-flex;
                padding: 6px 16px;
                border-radius: 4px;
                font: 500 14px / 100% var(--ff-nort);
                color: var(--white);
                background: var(--ball-blue);
            }
        }

        .video-block {
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 24px;
            }

            &.is-playing {
                &::after {
                    opacity: 0;
                    visibility: hidden;
                }

                .video-block__play {
                    opacity: 0;
                    transform: translate(-50%, -60%);
                }
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: rgba(62, 62, 64, 0.4);
                @include transitions(0.2s, ease-in);
            }

            &__play {
                width: 68px;
                height: 68px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 50%;
                z-index: 2;
                left: 50%;
                transform: translate(-50%, -50%);
                @include transitions(0.2s, ease-in);
                @include media('mobile') {
                    width: 43px;
                    height: 43px;
                }
            }

            &__rec {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: var(--ball-blue);
                @include media('mobile') {
                    width: 36px;
                    height: 36px;
                }

                svg {
                    color: #fff;
                    width: 32px;
                    height: 32px;
                    @include media('mobile') {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        &__article {
            max-width: 815px;
            width: 100%;

            @include media('desktop') {
                max-width: 100%;
            }

            img {
                border-radius: 16px;
                width: 100%;
                margin-bottom: 40px;
                @include media('mobile') {
                    margin-bottom: 24px;
                }
            }

            h2 {
                font: 400 48px / 100% var(--ff-base);
                letter-spacing: -2px;
                margin: 0 0 20px 0;
                @include media('mobile') {
                    font-size: 24px;
                    margin: 0 0 12px 0;
                }
            }

            h3 {
                font: 400 32px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin: 0 0 20px 0;

                @include media('mobile') {
                    font-size: 18px;
                    margin: 0 0 12px 0;
                }
            }

            h4 {
                font: 400 24px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin: 0 0 20px 0;
                @include media('mobile') {
                    font-size: 16px;
                    margin: 0 0 12px 0;
                }
            }

            h5 {
                font: 400 20px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin: 0 0 20px 0;
                @include media('mobile') {
                    font-size: 15px;
                }
            }

            h6 {
                font: 400 16px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin: 0 0 20px 0;
                @include media('mobile') {
                    font-size: 15px;
                }
            }

            ul,
            ol {
                padding: 0;
                margin: 0;
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                @include media('mobile') {
                    gap: 12px;
                    margin-bottom: 24px;
                }

                li {
                    font: 400 16px / 140% var(--ff-nort);
                    display: inline-flex;
                    align-items: center;
                    gap: 12px;
                    position: relative;
                    @include media('mobile') {
                        font-size: 14px;
                        gap: 8px;
                    }

                    span {
                        font-weight: 500;
                        color: var(--sea-blue);
                    }

                    &::before {
                        content: '';
                        width: 36px;
                        height: 36px;
                        display: inline-flex;
                        flex-shrink: 0;
                        background: url('../img/icons/ico-logo.svg') no-repeat
                            center center / cover;
                        @include media('mobile') {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                a {
                    text-decoration: underline;
                    color: var(--sea-blue);
                }
            }

            ol {
                counter-reset: process-counter;
                li {
                    counter-increment: process-counter;
                    &::before {
                        font: 500 16px / 100% var(--ff-nort);
                        content: counter(process-counter, decimal-leading-zero)
                            ')';
                        background: none;
                        width: auto;
                        height: auto;
                        color: var(--sea-blue);
                        @include media('mobile') {
                            font-size: 14px;
                        }
                    }
                }
            }

            blockquote {
                margin: 0;
                display: flex;
                padding-top: 32px;
                border-top: 1px solid #d4dbde;
                @include media('mobile') {
                    padding-top: 24px;
                }

                p {
                    font: 400 18px / 140% var(--ff-nort);
                    margin: 0;
                    display: inline-flex;
                    align-items: flex-start;
                    gap: 23px;
                    @include media('mobile') {
                        font-size: 14px;
                        gap: 18px;
                    }

                    &::before {
                        content: '';
                        display: inline-flex;
                        flex-shrink: 0;
                        width: 69px;
                        height: 69px;
                        background: url('../img/icons/ico-ic.svg') no-repeat
                            center center / cover;

                        @include media('mobile') {
                            width: 43px;
                            height: 43px;
                        }
                    }
                }
            }

            p {
                font: 400 18px / 140% var(--ff-nort);
                margin: 0 0 40px 0;
                @include media('mobile') {
                    font-size: 14px;
                    margin: 0 0 24px 0;
                }
            }
        }

        &__wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            @include media('desktop') {
                flex-direction: column;
                gap: 40px;
            }
        }

        &__form {
            max-width: 606px;
            display: flex;
            flex-direction: column;
            gap: 60px;
            @include media('desktop') {
                max-width: 100%;
            }

            @include media('mobile') {
                gap: 24px;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;

            &-title {
                font: 400 48px / 100% var(--ff-base);
                letter-spacing: -2px;
                margin-bottom: 24px;
                @include media('mobile') {
                    font-size: 24px;
                    margin-bottom: 12px;
                }
            }
        }

        &__link {
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 24px 28px;
            border-radius: 16px;
            border: 1px solid #d4dbde;
            background: linear-gradient(
                90deg,
                #d6f3ff 0%,
                #eefaff 47.12%,
                #ffffff 100%
            );

            @include media('mobile') {
                padding: 20px 16px;
                border-radius: 12px;
            }

            @include hover {
                .content__link-cta {
                    background: var(--sea-blue);
                    svg {
                        transform: rotate(-45deg);
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 12px;
                @include media('mobile') {
                    margin-bottom: 8px;
                }
            }

            &-info {
                display: flex;
                align-items: center;
                gap: 16px;
                @include media('mobile') {
                    gap: 12px;
                }

                img {
                    width: 48px;
                    height: 48px;
                    @include media('mobile') {
                        width: 32px;
                        height: 32px;
                    }
                }

                p {
                    font: 500 20px / 100% var(--ff-nort);
                    @include media('mobile') {
                        font-size: 16px;
                    }
                }
            }

            &-cta {
                display: inline-flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                border-radius: 6px;
                background: var(--ball-blue);
                color: var(--white);
                @include transitions(0.2s, ease-in);

                @include media('mobile') {
                    width: 24px;
                    height: 24px;
                }

                svg {
                    width: 32px;
                    height: 32px;
                    @include transitions(0.2s, ease-in);
                    @include media('mobile') {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        &__reminder {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            @include media('mobile') {
                flex-direction: column;
            }

            &-ico {
                display: inline-flex;
                flex-shrink: 0;
                width: 80px;
                height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                @include media('mobile') {
                    flex-direction: column-reverse;
                    gap: 12px;
                }

                p {
                    font: 400 16px / 140% var(--ff-nort);
                    margin: 0;
                    @include media('mobile') {
                        font-size: 14px;
                    }
                }

                a {
                    font: 400 32px / 100% var(--ff-base);
                    letter-spacing: -1px;
                    @include media('mobile') {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .articles {
        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 40px;
            @include media('mobile') {
                flex-direction: column;
                gap: 24px;
                align-items: flex-start;
                margin-bottom: 20px;
            }
        }

        &__title {
            max-width: 70%;
            @include media('mobile') {
                max-width: 100%;
            }
        }

        &__boxes {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
            @include media('mobile') {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
