@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--services {
    .interest {
        overflow: hidden;
        &__title {
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 12px;
            }
        }

        &__items {
            &-slide {
                height: auto;
            }
        }

        .interest-box {
            width: 100%;
        }
    }
}
